ul.DateCountdown {
  padding:0;
  margin-top: 4rem;  
    /* outline: 2px var(--theme-main) solid; */
}

ul.DateCountdown li {
  width: calc(100% / 4);
  /* margin-right: 2rem; */
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

ul.DateCountdown li p {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin:0;
}

@media screen and (max-width: 800px) {
  
  ul.DateCountdown li {
    width:100%;
    display: block;
    margin-bottom: 1rem;
  }
}
