@font-face {
  src: url(https://cdn.glitch.me/887c9896-8f4a-43f2-989c-68584c8d1c1a%2FRubik-VariableFont_wght.ttf);
  font-family: rubik;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  font-family: rubik, calibri, sans-serif;
  padding: 0;
  margin: 0;
  font-feature-settings: "tnum";
  background-color: transparent;
}

.container {
  padding: 1rem;
}

select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px #cccccc solid;
}

/* @media screen and (max-width: 1000px){
  .counters-container {
}
} */

.MenuImage {
  border-radius: 5px;
  vertical-align:middle;
  margin-right:0.5rem;
}