@font-face {
    src: url("./FiraSans-Medium.otf");
    font-family: "FiraSans-Medium";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.2s;
    /* user-select:none; */
    -webkit-tap-highlight-color: transparent;
}

*:not(input, textarea, select, button) {
    user-select: none;
}

:root {
    font-size: 2rem;
    --nav-height: 2rem;
    --footer-height: 0rem;
    --main-height: calc(100vh - (var(--nav-height) + var(--footer-height)));
    --main-height: calc(100svh - (var(--nav-height) + var(--footer-height)));

    --theme-main: rgb(57, 107, 243);
    --theme-text: black;
    --theme-contrast: white;
    --theme-background: white;

    --input-margin: 1rem;

}

body {
    font-family: 'FiraSans-Medium', Arial, sans-serif;
    background-color: var(--theme-background);
    color: var(--theme-text);
}

nav.home-nav,
main,
footer {
    width: 100%;
}

nav.home-nav {
    height: var(--nav-height);
    display: grid;
    place-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 4;
    border-bottom: 1px #ccc solid;
    background-color: var(--theme-background);
    transition: box-shadow 0.3s;
}

nav.home-nav.shadow {
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
}

nav.home-nav ul li {
    float: left;
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

nav.home-nav ul li:last-of-type {
    margin: 0;
}

nav.home-nav ul li:first-letter {
    text-transform: capitalize;
}

nav.home-nav ul li.current::after {
    content: "";
    display: block;
    background-color: var(--theme-main);
    width: 0;
    height: 3px;
    margin: auto;
    animation-name: underline;
    animation-duration: 0.3s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

main {
    margin-top: var(--nav-height);
    height: var(--main-height);
    padding: 1rem;
    overflow: auto;
}

footer {
    background-color: gray;
    font-size: 0.8rem;
    height: var(--footer-height);
}

input:not([type=radio], [type=checkbox]),
button,
select {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-right: var(--input-margin);
    margin-bottom: var(--input-margin);
    height: 2rem;
    background-color: var(--theme-background);
    color: var(--theme-text);
    border: 2px var(--theme-main) solid;
    width: 10rem;
    display:block;
}

input:last-of-type,
button:last-of-type,
select:last-of-type {
    margin-right: 0;
}

input.inline,
button.inline,
select.inline {
    display: inline-block;
    width: initial;
    /* height:initial; */
    min-width: 0;
    /* margin-bottom: 0; */
}

input[type=button],
input[type=submit],
button,
select {
    color: var(--theme-contrast);
    background-color: var(--theme-main);
    border: none;
    cursor: pointer;
    width: auto;
    min-width: 10rem;
    /* font-size: 0.5rem; */
    /* font-weight: bold; */
}

input[type=button]:disabled,
input[type=submit]:disabled,
button:disabled {
    opacity: 0.7;
    filter: grayscale();
    cursor: not-allowed;
}

table {
    border: 2px var(--theme-main) solid;
    border-radius: 10px;
    margin-bottom: 1rem;
}

table.no-border {
    border: none;
}

table input,
table button {
    margin: 0 !important;
}

table td,
table th {
    text-align: center;
    padding: 0.25rem;
}

/* low padding  */
table.thin td,
table.thin th {
    padding: 0.125rem;
}

table td button {
    width: 4rem;
}

/* form {
    padding: 1rem;
} */

form input:not([type=radio], [type=checkbox]) {
    display: block;
}

label {
    display: block;
    margin-bottom: 1rem;
}

sup,
sub {
    font-size: 0.5rem;
}

a {
    color: var(--theme-main);
    text-decoration: none;
}

a:not(.no-underline):hover {
    text-decoration: underline;
    text-decoration-color: var(--theme-main);
}

a.normal {
    color: var(--theme-text);
}

p {
    margin-bottom: 0.5rem;
}

hr {
    border: none;
    border-top: 2px var(--theme-main) solid;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.heading {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

/* .container {
    height: 100%;
} */

.container.center {
    margin: auto;
    width: min(800px, 100vw - 2rem);
}

.oneline {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--theme-main);
    text-decoration-thickness: 3px;
}

.clear {
    clear: both;
}

.info {
    background-color: var(--theme-main);
    color: var(--theme-contrast);

    border-radius: 10px;
    padding: 0.5rem;

    font-size: 0.8rem;

    margin-top: 1rem;
    margin-bottom: 1rem;

    display: inline-block;
}

.mobiletable {
    border: 2px var(--theme-main) solid;
    border-radius: 10px;
}

.width-third {
    width: calc((100% / 3) - (var(--input-margin) * (2/3)));
    display: inline-block;
}

@keyframes underline {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media (max-width: 1500px) or (max-height: 1000px) {
    :root {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 1.2rem;
    }

    table {
        width: 100%;
    }

    input:not([type=checkbox], [type=radio], .inline),
    button:not(.inline),
    select:not(.inline) {
        width: 100%;
        margin-right: 0;
    }

    .width-third {
        width: 100%;
    }
}

.Toastify__close-button {
    min-width: unset;
    width: auto;
    height: auto;
    margin:0;
}