.popup {
  --header-height: 3rem;
  
  animation-duration: var(--_anim-duration);
  animation-fill-mode: forwards;

  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  
  display: grid;
  place-items: center;
}

.popup .content {
  /* transition-property: transform, width, height;
  transition-duration: var(--_anim-duration);
  transition-timing-function: ease-in-out; */
  /* transition: transform 0.3s ease-in-out, min-width 0.3s, min-height 0.3s; */

  border-radius: 10px;
  background-color: var(--theme-background);


  max-height: calc(100vh - 2rem);
  min-width: min(600px, 100vw);
  max-width: 100vw;

  
  animation-fill-mode: forwards;
  animation-duration: var(--_anim-duration);
}

.popup.inline .content {
  min-width: unset;

}

/* hide the scrollbar */
.popup .content::-webkit-scrollbar {
  display: none;
}

.popup .content .body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;

  /* width: 100%; */
  max-height: calc(100vh - 2rem - var(--header-height));

  overflow: auto;
  /* hide the scrollbar */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  margin-top: var(--header-height);
}

.popup .content .header {

  width: 100%;
  
  position: absolute;
  display: flex;
  align-items: center;

  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--theme-main);
  color: var(--theme-contrast);
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
  
  height: var(--header-height);
  
  padding: 1rem;
}

.popup .content table {
  width: 100%;
}

.popup .content .header h1 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.popup .content .header span {
  position: absolute;
  top: calc(var(--header-height) / 4);
  right: calc(var(--header-height) / 4);
  cursor: pointer;
  /*   float:right; */
}

.popup .content button.icon-with-text i.fa {
  margin-right: 10px;
}

@keyframes rollout {
  0% {
    transform: scale(0.0000001);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rollback {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.0000001);
  }
}


@keyframes fadein {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.7);
  }

}

@keyframes fadeout {
  from {
    background-color: rgba(0, 0, 0, 0.7);
  }

  to {
    background-color: rgba(0, 0, 0, 0);
  }

}

.popup.fadeout {
  animation-name: fadeout;
}

.popup.fadein {
  animation-name: fadein;
}

.popup.fadein .content {
  animation-name: rollout;
}

.popup.fadeout .content {
  animation-name: rollback;
}

@media screen and (max-width: 800px) {
  .popup {
    --header-height: 2rem;
  }

  .popup .content .header h1 {
    font-size: 1rem;
  }

  .popup .content {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    max-height: unset;
    border-radius: 0;
  }
}