.version  {
  position:fixed;
  bottom: 0;
  left: 0;
}

.container.Settings {
  display:grid;
  grid-template-columns: 20% 80%;
  /* padding-top:0; */
  /* grid-template-rows:  */
}

.settings-main, nav.settings-nav {
  height: 100%;
  padding: 1rem;
}

.settings-main {
  /* padding: 1rem; */
  grid-column: 2 / span 1;
  overflow:auto;
  height: calc(100% + 20px);
  position:relative;
  margin-top:-20px;
  /* height: var(--main-height);
  position:absolute;
  top:0; */
}

nav.settings-nav  {
  grid-column: 1 / span 1;
  border-right: 1px var(--theme-main) solid;
  text-align:left;
  font-size:1rem;
}

nav.settings-nav ul li {
  /* text-align:right; */
  list-style: none;
  /* display:inline-block; */
  cursor:pointer;
  margin-bottom: 0.5rem;
  position:relative;
  display:block;
}

nav.settings-nav ul li i {
  margin-right: 0.5rem;
  width: 1rem;
  display:inline-block;
}

nav.settings-nav ul li.current {
  color: var(--theme-main);
}

nav.settings-nav ul li.current::after {
  content: "";
  display:block;
  background-color: var(--theme-main);
  height: calc(100% - 4px);
  width: 5px;
  border-radius: 2.5px;
  margin-right: 0.5rem;
  /* margin:auto; */
  position:absolute;
  left: -10px;
  top:2px;
} 

nav.settings-nav ul li span {

  display:inline-block;
}

nav.settings-nav ul li span::first-letter {
  text-transform:capitalize;
}

div.theme {
  border-radius: 10px;
  border: 2px var(--theme-text) solid;
  width: 3rem;
  height: 3rem;
  float:left; 
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position:relative;
  z-index: 40;
}

div.color:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
div.color:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

div.color {
  /* border-radius: ; */
  width: 100%;
  height: 50%;
}

.error {
  font-size:0.8rem;
  width: 100%;
  color:red;
}

.mobilenavitems {
  position:absolute;
  width: 100%;
  background-color:var(--theme-background);
  padding: 1rem;
  z-index: 80000;
  height: calc(var(--main-height) - 2rem);
  left:0;
  font-size: 1rem;
}

.mobilenavopen {
  display:inline-block;
  margin-right: 0.5rem;
}


@media screen and (max-width: 1000px) {
  .container.Settings {
    grid-template-rows: 1.5rem calc(100% - 1.5rem);
    grid-template-columns: 1fr;  
  }

  nav.settings-nav {
    grid-column: auto;
    padding:0;
    display:block;
    grid-row: 1 / span 1;
    border:none;
    height:auto;
    border-bottom: 2px var(--theme-main) solid;
  }
  .settings-main {
    margin-top:0;
    height:auto;
    grid-column: auto;
    grid-row: 2 / span 1;
  }

  .settings-main .page-title-header + hr {
    display:none;
  }

  .page-title-header {
    display:none;
  }
}